### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np
import os

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [2]:
#Calculate the total number of schools
total_schools=len(school_data)
total_schools

15

In [3]:
#Calculate the total number of Students
total_students = len(student_data)
total_students

39170

In [4]:
#Calculate the Total Budget
school_data_complete["budget"].unique()
school_budgets = np.array([1910635, 1884411, 1056600, 3022020,  917500, 1319574, 1081356,
       3124928,  248087,  585858, 1049400, 2547363, 3094650, 1763916, 1043130])
total_budget = np.sum(school_budgets)
total_budget

24649428

In [5]:
# calculate the average math score
math_avearge = school_data_complete["math_score"].mean()
math_avearge

78.98537145774827

In [6]:
# calculate the average Reading score
reading_average = school_data_complete["reading_score"].mean()
reading_average

81.87784018381414

In [7]:
#Calculate the percentage of students with a passing math score (70 or greater)
math_passing = school_data_complete.loc[school_data_complete["math_score"] >=70].count()["Student ID"]
math_percentage=((math_passing/total_students)*100)
math_percentage

74.9808526933878

In [8]:
#Calculate the percentage of students with a passing reading score (70 or greater)
read_passing = school_data_complete.loc[school_data_complete["reading_score"] >=70].count()["Student ID"]
read_percentage=((read_passing/total_students)*100)
read_percentage

85.80546336482001

In [9]:
#Calculate the percentage of students who passed math and reading (% Overall Passing)
passing_percentage = ((math_percentage+read_percentage)/2)
passing_percentage

80.39315802910392

In [10]:
#Create a dataframe to hold the above results
table_summary={'Total Schools': [total_schools],
               'Total Student': [total_students],
               'Total Budget': [total_budget],
               'Average Math': [math_avearge],
               'Average Reading': [reading_average],
               'Passing Percentage': [passing_percentage]}
table_summary

{'Total Schools': [15],
 'Total Student': [39170],
 'Total Budget': [24649428],
 'Average Math': [78.98537145774827],
 'Average Reading': [81.87784018381414],
 'Passing Percentage': [80.39315802910392]}

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [ ]:
total_schools = len(school_data)
total_students = len(student_data)

In [24]:
# groupe by school Name
school_name = school_data_complete.set_index('school_name').groupby(['school_name'])

In [25]:
# groupe by school Type
school_type = school_data_complete.set_index('school_name').groupby(['type'])

In [26]:
#get Total Students per School
students_school = school_name["Student ID"].count()
students_school

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: Student ID, dtype: int64

In [29]:
# get Total School Budget
school_budgets = school_data.set_index("school_name")["budget"]
school_budgets

school_name
Huang High School        1910635
Figueroa High School     1884411
Shelton High School      1056600
Hernandez High School    3022020
Griffin High School       917500
Wilson High School       1319574
Cabrera High School      1081356
Bailey High School       3124928
Holden High School        248087
Pena High School          585858
Wright High School       1049400
Rodriguez High School    2547363
Johnson High School      3094650
Ford High School         1763916
Thomas High School       1043130
Name: budget, dtype: int64

In [30]:
# per student budget
budget_student = school_data.set_index("school_name")["budget"]/school_data.set_index("school_name")["size"]
budget_student

school_name
Huang High School        655.0
Figueroa High School     639.0
Shelton High School      600.0
Hernandez High School    652.0
Griffin High School      625.0
Wilson High School       578.0
Cabrera High School      582.0
Bailey High School       628.0
Holden High School       581.0
Pena High School         609.0
Wright High School       583.0
Rodriguez High School    637.0
Johnson High School      650.0
Ford High School         644.0
Thomas High School       638.0
dtype: float64

In [35]:
# Average Math Score
school_math_average = round(school_data_complete.groupby(["school_name"]).mean()["math_score"],2)
school_math_average

school_name
Bailey High School       77.05
Cabrera High School      83.06
Figueroa High School     76.71
Ford High School         77.10
Griffin High School      83.35
Hernandez High School    77.29
Holden High School       83.80
Huang High School        76.63
Johnson High School      77.07
Pena High School         83.84
Rodriguez High School    76.84
Shelton High School      83.36
Thomas High School       83.42
Wilson High School       83.27
Wright High School       83.68
Name: math_score, dtype: float64

In [36]:
# Average Reading Score
school_reading_average = round(school_data_complete.groupby(["school_name"]).mean()["reading_score"],2)
school_reading_average

school_name
Bailey High School       81.03
Cabrera High School      83.98
Figueroa High School     81.16
Ford High School         80.75
Griffin High School      83.82
Hernandez High School    80.93
Holden High School       83.81
Huang High School        81.18
Johnson High School      80.97
Pena High School         84.04
Rodriguez High School    80.74
Shelton High School      83.73
Thomas High School       83.85
Wilson High School       83.99
Wright High School       83.96
Name: reading_score, dtype: float64

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type