### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import pandas as pd
import numpy as np
import os

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [3]:
#Calculate the total number of schools
total_schools=len(school_data)
total_schools

15

In [4]:
#Calculate the total number of Students
total_students = len(student_data)
total_students

39170

In [5]:
#Calculate the Total Budget
school_data_complete["budget"].unique()
school_budgets = np.array([1910635, 1884411, 1056600, 3022020,  917500, 1319574, 1081356,
       3124928,  248087,  585858, 1049400, 2547363, 3094650, 1763916, 1043130])
total_budget = np.sum(school_budgets)
total_budget

24649428

In [6]:
# calculate the average math score
math_avearge = school_data_complete["math_score"].mean()
math_avearge

78.98537145774827

In [7]:
# calculate the average Reading score
reading_average = school_data_complete["reading_score"].mean()
reading_average

81.87784018381414

In [8]:
#Calculate the percentage of students with a passing math score (70 or greater)
math_passing = school_data_complete.loc[school_data_complete["math_score"] >=70].count()["Student ID"]
math_percentage=((math_passing/total_students)*100)
math_percentage

74.9808526933878

In [9]:
#Calculate the percentage of students with a passing reading score (70 or greater)
read_passing = school_data_complete.loc[school_data_complete["reading_score"] >=70].count()["Student ID"]
read_percentage=((read_passing/total_students)*100)
read_percentage

85.80546336482001

In [10]:
#Calculate the percentage of students who passed math and reading (% Overall Passing)
passing_percentage = ((math_percentage+read_percentage)/2)
passing_percentage

80.39315802910392

In [11]:
#Create a dataframe to hold the above results
table_summary={'Total Schools': [total_schools],
               'Total Student': [total_students],
               'Total Budget': [total_budget],
               'Average Math': [math_avearge],
               'Average Reading': [reading_average],
               'Passing Percentage': [passing_percentage]}
table_summary

{'Total Schools': [15],
 'Total Student': [39170],
 'Total Budget': [24649428],
 'Average Math': [78.98537145774827],
 'Average Reading': [81.87784018381414],
 'Passing Percentage': [80.39315802910392]}

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [12]:
total_schools = len(school_data)
total_students = len(student_data)

In [13]:
# groupe by school Name
school_name = school_data_complete.set_index('school_name').groupby(['school_name'])

In [14]:
# groupe by school Type
school_type = school_data_complete.set_index('school_name').groupby(['type'])

In [15]:
#get Total Students per School
students_school = school_name["Student ID"].count()
students_school

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: Student ID, dtype: int64

In [16]:
# get Total School Budget
school_budgets = school_data.set_index("school_name")["budget"]
school_budgets

school_name
Huang High School        1910635
Figueroa High School     1884411
Shelton High School      1056600
Hernandez High School    3022020
Griffin High School       917500
Wilson High School       1319574
Cabrera High School      1081356
Bailey High School       3124928
Holden High School        248087
Pena High School          585858
Wright High School       1049400
Rodriguez High School    2547363
Johnson High School      3094650
Ford High School         1763916
Thomas High School       1043130
Name: budget, dtype: int64

In [17]:
# per student budget
budget_student = school_data.set_index("school_name")["budget"]/school_data.set_index("school_name")["size"]
budget_student

school_name
Huang High School        655.0
Figueroa High School     639.0
Shelton High School      600.0
Hernandez High School    652.0
Griffin High School      625.0
Wilson High School       578.0
Cabrera High School      582.0
Bailey High School       628.0
Holden High School       581.0
Pena High School         609.0
Wright High School       583.0
Rodriguez High School    637.0
Johnson High School      650.0
Ford High School         644.0
Thomas High School       638.0
dtype: float64

In [18]:
# Average Math Score
school_math_average = round(school_data_complete.groupby(["school_name"]).mean()["math_score"],2)
school_math_average

school_name
Bailey High School       77.05
Cabrera High School      83.06
Figueroa High School     76.71
Ford High School         77.10
Griffin High School      83.35
Hernandez High School    77.29
Holden High School       83.80
Huang High School        76.63
Johnson High School      77.07
Pena High School         83.84
Rodriguez High School    76.84
Shelton High School      83.36
Thomas High School       83.42
Wilson High School       83.27
Wright High School       83.68
Name: math_score, dtype: float64

In [19]:
# Average Reading Score
school_reading_average = round(school_data_complete.groupby(["school_name"]).mean()["reading_score"],2)
school_reading_average

school_name
Bailey High School       81.03
Cabrera High School      83.98
Figueroa High School     81.16
Ford High School         80.75
Griffin High School      83.82
Hernandez High School    80.93
Holden High School       83.81
Huang High School        81.18
Johnson High School      80.97
Pena High School         84.04
Rodriguez High School    80.74
Shelton High School      83.73
Thomas High School       83.85
Wilson High School       83.99
Wright High School       83.96
Name: reading_score, dtype: float64

In [20]:
# % Passing Math
math_pass_percentage = school_data_complete[school_data_complete["math_score"] >= 70].groupby("school_name")["Student ID"].count()/students_school*100
math_pass_percentage

school_name
Bailey High School       66.680064
Cabrera High School      94.133477
Figueroa High School     65.988471
Ford High School         68.309602
Griffin High School      93.392371
Hernandez High School    66.752967
Holden High School       92.505855
Huang High School        65.683922
Johnson High School      66.057551
Pena High School         94.594595
Rodriguez High School    66.366592
Shelton High School      93.867121
Thomas High School       93.272171
Wilson High School       93.867718
Wright High School       93.333333
Name: Student ID, dtype: float64

In [21]:
# % Passing Reading
read_pass_percentage = school_data_complete[school_data_complete["reading_score"] >= 70].groupby("school_name")["Student ID"].count()/students_school*100
read_pass_percentage

school_name
Bailey High School       81.933280
Cabrera High School      97.039828
Figueroa High School     80.739234
Ford High School         79.299014
Griffin High School      97.138965
Hernandez High School    80.862999
Holden High School       96.252927
Huang High School        81.316421
Johnson High School      81.222432
Pena High School         95.945946
Rodriguez High School    80.220055
Shelton High School      95.854628
Thomas High School       97.308869
Wilson High School       96.539641
Wright High School       96.611111
Name: Student ID, dtype: float64

In [22]:
# % % Overall Passing of students that passed math and reading
all_pass_percentage = school_data_complete[(school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)].groupby("school_name")["Student ID"].count()/students_school*100
all_pass_percentage

school_name
Bailey High School       54.642283
Cabrera High School      91.334769
Figueroa High School     53.204476
Ford High School         54.289887
Griffin High School      90.599455
Hernandez High School    53.527508
Holden High School       89.227166
Huang High School        53.513884
Johnson High School      53.539172
Pena High School         90.540541
Rodriguez High School    52.988247
Shelton High School      89.892107
Thomas High School       90.948012
Wilson High School       90.582567
Wright High School       90.333333
Name: Student ID, dtype: float64

In [23]:
school_data_complete.columns

Index(['Student ID', 'student_name', 'gender', 'grade', 'school_name',
       'reading_score', 'math_score', 'School ID', 'type', 'size', 'budget'],
      dtype='object')

In [24]:
# create a dataframe with the above results
summary_school_perf = {'School Type': [school_type], 
                 'Total Students': [students_school], 
                  'Total School Budget': [school_budgets], 
                  'Budget Per Student': [budget_student], 
                  'Average Math Grade': [school_math_average], 
                  'Average Read Grade': [school_reading_average], 
                  'Math Passing Rate': [math_pass_percentage], 
                  'Reading Passing Rate': [read_pass_percentage],
                  'All Passing Rate': [all_pass_percentage]}
summary_perf = pd.DataFrame(summary_school_perf)
summary_perf = summary_perf[["School Type", "Total Students", "Total School Budget", "Budget Per Student", 
                 "Average Math Grade", "Average Read Grade", "Math Passing Rate", "Reading Passing Rate", "All Passing Rate"]]

summary_perf.head()

,School Type,Total Students,Total School Budget,Budget Per Student,Average Math Grade,Average Read Grade,Math Passing Rate,Reading Passing Rate,All Passing Rate
0,<pandas.core.groupby.generic.DataFrameGroupBy ...,school_name Bailey High School 4976 Cabr...,school_name Huang High School 1910635 F...,school_name Huang High School 655.0 Fig...,school_name Bailey High School 77.05 Cab...,school_name Bailey High School 81.03 Cab...,school_name Bailey High School 66.680064...,school_name Bailey High School 81.933280...,school_name Bailey High School 54.642283...

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [25]:
#Sort and display the top five performing schools by % overall passing
summary_perf = summary_perf.sort_values("All Passing Rate", ascending=False)
summary_perf.head()

,School Type,Total Students,Total School Budget,Budget Per Student,Average Math Grade,Average Read Grade,Math Passing Rate,Reading Passing Rate,All Passing Rate
0,<pandas.core.groupby.generic.DataFrameGroupBy ...,school_name Bailey High School 4976 Cabr...,school_name Huang High School 1910635 F...,school_name Huang High School 655.0 Fig...,school_name Bailey High School 77.05 Cab...,school_name Bailey High School 81.03 Cab...,school_name Bailey High School 66.680064...,school_name Bailey High School 81.933280...,school_name Bailey High School 54.642283...

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [26]:
#math average by Grade at each school
f_math = school_data_complete[school_data_complete["grade"] == "9th"].groupby("school_name")["math_score"].mean()
s_math = school_data_complete[school_data_complete["grade"] == "10th"].groupby("school_name")["math_score"].mean()
j_math = school_data_complete[school_data_complete["grade"] == "11th"].groupby("school_name")["math_score"].mean()
ss_math = school_data_complete[school_data_complete["grade"] == "12th"].groupby("school_name")["math_score"].mean()

f_math_round = round ((f_math),2)
s_math_round = round ((s_math),2)
j_math_round = round ((j_math),2)
ss_math_round = round ((ss_math),2)

math_score_df = pd.DataFrame({"Freshman": f_math_round,
                             "Sophmore": s_math_round,
                             "Junior": j_math_round,
                             "Senior": ss_math_round})
math_score_df

                       Freshman  Sophmore  Junior  Senior
school_name
Bailey High School        77.08     77.00   77.52   76.49
Cabrera High School       83.09     83.15   82.77   83.28
Figueroa High School      76.40     76.54   76.88   77.15
Ford High School          77.36     77.67   76.92   76.18
Griffin High School       82.04     84.23   83.84   83.36
Hernandez High School     77.44     77.34   77.14   77.19
Holden High School        83.79     83.43   85.00   82.86
Huang High School         77.03     75.91   76.45   77.23
Johnson High School       77.19     76.69   77.49   76.86
Pena High School          83.63     83.37   84.33   84.12
Rodriguez High School     76.86     76.61   76.40   77.69
Shelton High School       83.42     82.92   83.38   83.78
Thomas High School        83.59     83.09   83.50   83.50
Wilson High School        83.09     83.72   83.20   83.04
Wright High School        83.26     84.01   83.84   83.64

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [27]:
#reading average by Grade at each school
f_read = school_data_complete[school_data_complete["grade"] == "9th"].groupby("school_name")["reading_score"].mean()
s_read = school_data_complete[school_data_complete["grade"] == "10th"].groupby("school_name")["reading_score"].mean()
j_read = school_data_complete[school_data_complete["grade"] == "11th"].groupby("school_name")["reading_score"].mean()
ss_read = school_data_complete[school_data_complete["grade"] == "12th"].groupby("school_name")["reading_score"].mean()

f_read_round = round ((f_read),2)
s_read_round = round ((s_read),2)
j_read_round = round ((j_read),2)
ss_read_round = round ((ss_read),2)

read_score_df = pd.DataFrame({"Freshman": f_read_round,
                             "Sophmore": s_read_round,
                             "Junior": j_read_round,
                             "Senior": ss_read_round})
read_score_df

                       Freshman  Sophmore  Junior  Senior
school_name
Bailey High School        81.30     80.91   80.95   80.91
Cabrera High School       83.68     84.25   83.79   84.29
Figueroa High School      81.20     81.41   80.64   81.38
Ford High School          80.63     81.26   80.40   80.66
Griffin High School       83.37     83.71   84.29   84.01
Hernandez High School     80.87     80.66   81.40   80.86
Holden High School        83.68     83.32   83.82   84.70
Huang High School         81.29     81.51   81.42   80.31
Johnson High School       81.26     80.77   80.62   81.23
Pena High School          83.81     83.61   84.34   84.59
Rodriguez High School     80.99     80.63   80.86   80.38
Shelton High School       84.12     83.44   84.37   82.78
Thomas High School        83.73     84.25   83.59   83.83
Wilson High School        83.94     84.02   83.76   84.32
Wright High School        83.83     83.81   84.16   84.07

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type